body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px; 
    background-color: #000000; 
    color: #ffffff; 
    margin: 0;
    padding: 20px;
}

p {
    margin: 30px 0; /* Adjust the top and bottom margin to control spacing */
}

h1 {
    color: #c4c0ff;
    font-family: 'Cascadia Code', monospace;
}

.solid-button {
    text-decoration: none;
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #111025;
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.solid-button:hover {
    background-color: #433f74; 
}

.solid-button:active {
    transform: scale(0.95); 
}

.simple-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    color: #9fffca;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
}
.simple-button:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}
.simple-button:active {
    color: #ffffff; 
    border-bottom: 2px solid #ffffff; 
}

footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(62, 62, 62); 
    color: #ffffff; 
    text-align: center; 
    padding: 0px 0; 
    font-size: 16px; 
    line-height: 1;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2); 
}
